/*DRAWER*/

.ant-drawer-content-wrapper {
  width: 378px !important;
}

.ant-drawer-body {
  padding: 24px;
}

.ant-drawer-footer {
  padding: 16px 24px;
  border-top: none !important;
}
.custom-drawer .ant-drawer-header-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-drawer.close-start .ant-drawer-header-title {
  flex-direction: row; 
}

.custom-drawer.close-end .ant-drawer-header-title {
  flex-direction: row-reverse; 
}


.custom-drawer .ant-drawer-close {
  margin: 0 12px;
}


/*message*/
.succes_message {
  background-color: white !important;
}

.circle_oulined {
  color: #52c41a !important;
}


